In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
#data = pd.read_csv('MICRODADOS_ENEM_ESCOLA.csv',sep=';',encoding='latin1',low_memory=False)
#newData = data[data['CO_UF_ESCOLA'] == 31]
#newData.to_csv("escolasMG.csv", encoding='latin1', index=False,sep=';')

In [12]:
path = "C:\\Users\\vinic\\Documents\\GitHub\\Enem\\2019\\Dados\\MICRODADOS_ENEM_2019.csv"

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
use_cols = ["NU_INSCRICAO","CO_UF_ESC", "Q001","Q002","Q003","Q004","Q005","Q006","Q007","Q008","Q009","Q010","Q011","Q012","Q013","Q014","Q015","Q016","Q017","Q018","Q019","Q020","Q021","Q022","Q023","Q024","Q025"]
data_iterator = pd.read_csv(path,sep=';',encoding='latin1',low_memory=False, usecols=use_cols)
chunk_list = []  

# # Each chunk is in dataframe format
# for data_chunk in data_iterator:  
#    # filtered_chunk =  chunk_preprocessing(data_chunk)
#     chunk_list.append(data_chunk)
    
# filtered_data = pd.concat(chunk_list)
filtered_data = data_iterator

In [15]:
dados = filtered_data[filtered_data['CO_UF_ESC'].between(11, 53, inclusive=True)]

In [16]:
dados.to_csv("Brasil/QuestionarioPorAlunoBrasil2019.csv", encoding='latin1', index=False,sep=';')

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
use_cols = ["NU_INSCRICAO","CO_UF_ESC","CO_MUNICIPIO_ESC","NU_IDADE","TP_SEXO","TP_COR_RACA","CO_ESCOLA","SG_UF_ESC","NO_MUNICIPIO_ESC","TP_ENSINO","TP_DEPENDENCIA_ADM_ESC","TP_LOCALIZACAO_ESC"]
data_iterator = pd.read_csv(path,sep=';',encoding='latin1',low_memory=False, usecols=use_cols)
chunk_list = []  

# # Each chunk is in dataframe format
# for data_chunk in data_iterator:  
#    # filtered_chunk =  chunk_preprocessing(data_chunk)
#     chunk_list.append(data_chunk)
    
# filtered_data = pd.concat(chunk_list)

filtered_data = data_iterator

In [8]:
dados = filtered_data[filtered_data['CO_UF_ESC'].between(11, 53, inclusive=True)]
dados.to_csv("Brasil/Escola&AlunoBrasil2019.csv", encoding='latin1', index=False,sep=';')

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
use_cols = ["NU_INSCRICAO", "TP_LINGUA", "CO_UF_ESC","NU_NOTA_CN" , "NU_NOTA_CH" , "NU_NOTA_LC" , "NU_NOTA_MT" , "NU_NOTA_REDACAO"]
data_iterator = pd.read_csv(path,sep=';',encoding='latin1',low_memory=False, usecols=use_cols)
chunk_list = []  

# # Each chunk is in dataframe format
# for data_chunk in data_iterator:  
#    # filtered_chunk =  chunk_preprocessing(data_chunk)
#     chunk_list.append(data_chunk)
    
filtered_data = data_iterator
 

dados = filtered_data[filtered_data['CO_UF_ESC'].between(11, 53, inclusive=True)]
dados.to_csv("Brasil/Lingua&NotasBrasil.csv", encoding='latin1', index=False,sep=';')

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
data_1 = pd.read_csv('Brasil/QuestionarioPorAlunoBrasil2019.csv',sep=';',encoding='latin1',low_memory=False)
data_2 = pd.read_csv('Brasil/Escola&AlunoBrasil2019.csv',sep=';',encoding='latin1',low_memory=False)
data_3 = pd.read_csv('Brasil/Lingua&NotasBrasil.csv',sep=';',encoding='latin1',low_memory=False)

df = data_1.merge(data_2,on='NU_INSCRICAO')
dataset = df.merge(data_3,on='NU_INSCRICAO')

dataset.to_csv("Brasil/MicroDados2019Brasil.csv", encoding='latin1', index=False,sep=';')

In [4]:
dataset = pd.read_csv('Brasil/MicroDados2019Brasil.csv',sep=';',encoding='latin1',low_memory=False)

In [34]:
dataset.shape

(1147412, 45)

In [26]:
dadosTratados = dataset.dropna()
dadosTratados = dadosTratados.drop(['TP_ENSINO'], axis=1)
dadosTratados = dadosTratados.drop(['CO_UF_ESC_x'], axis=1)
dadosTratados = dadosTratados.drop(['CO_UF_ESC_y'], axis=1)
# dadosTratados = dadosTratados.drop(['NU_INSCRICAO'], axis=1)
dadosTratados.to_csv("Brasil/MicrodadosBrasilTratado2019.csv", encoding='latin1', index=False,sep=';')

In [29]:
dadosTratados["RendaMaxima"] = dadosTratados["Q006"]
dadosTratados["ClasseSocial"] = dadosTratados["Q006"]
var = "ClasseSocial"
dadosTratados[var].replace(to_replace =['A','B','C','D'], value ="0",inplace=True) 
dadosTratados[var].replace(to_replace =['E','F','G'],value ="1",inplace=True) 
dadosTratados[var].replace(to_replace =['H','I','J','K','L','M'], value ="C",inplace=True) 
dadosTratados[var].replace(to_replace =['N','O','P'], value ="B",inplace=True) 
dadosTratados[var].replace(to_replace =['Q'], value ="A",inplace=True) 
dadosTratados[var].replace(to_replace =['0'], value ="E",inplace=True) 
dadosTratados[var].replace(to_replace =['1'], value ="D",inplace=True) 
var = "RendaMaxima" 
dadosTratados[var].replace(to_replace =['A'], value =0,inplace=True) 
dadosTratados[var].replace(to_replace =['B'], value =998,inplace=True) 
dadosTratados[var].replace(to_replace =['C'], value =1497,inplace=True) 
dadosTratados[var].replace(to_replace =['D'], value =1996,inplace=True)
dadosTratados[var].replace(to_replace =['E'], value =2495,inplace=True) 
dadosTratados[var].replace(to_replace =['F'], value =2994,inplace=True) 
dadosTratados[var].replace(to_replace =['G'], value =3992,inplace=True) 
dadosTratados[var].replace(to_replace =['H'], value =4990,inplace=True) 
dadosTratados[var].replace(to_replace =['I'], value =5988,inplace=True) 
dadosTratados[var].replace(to_replace =['J'], value =6986,inplace=True) 
dadosTratados[var].replace(to_replace =['K'], value =7984,inplace=True) 
dadosTratados[var].replace(to_replace =['L'], value =8982,inplace=True) 
dadosTratados[var].replace(to_replace =['M'], value =9980,inplace=True) 
dadosTratados[var].replace(to_replace =['N'], value =11976,inplace=True) 
dadosTratados[var].replace(to_replace =['O'], value =14970,inplace=True) 
dadosTratados[var].replace(to_replace =['P','Q'], value =19960,inplace=True) 

dadosTratados = dadosTratados.drop(['Q006'], axis=1)



var = 'TP_DEPENDENCIA_ADM_ESC'
dadosTratados[var].replace(to_replace =[1.0], 
                 value ='Federal',inplace=True) #Federal
dadosTratados[var].replace(to_replace =[2.0], 
                 value ='Estadual',inplace=True) #Estadual
dadosTratados[var].replace(to_replace =[3.0], 
                 value ='Municipal',inplace=True) #Municipal
dadosTratados[var].replace(to_replace =[4.0], 
                 value ='Particular',inplace=True) #Particular


var = 'Q025'
dadosTratados[var].replace(to_replace =['A'], 
                 value ="Nao",inplace=True) 
dadosTratados[var].replace(to_replace =['B'], 
                 value ="Sim",inplace=True) 
var = 'Q022'
dadosTratados[var].replace(to_replace =['A'], 
                 value ='Não',inplace=True) 
dadosTratados[var].replace(to_replace =['B','C','D','E'], 
                 value ='Sim',inplace=True) 
var = 'Q024'
dadosTratados[var].replace(to_replace =['A'], 
                 value ='Não',inplace=True) 
dadosTratados[var].replace(to_replace =['B','C','D','E'], 
                 value ='Sim',inplace=True) 



var = 'Q009'
dadosTratados[var].replace(to_replace =['A'], 
                 value =0,inplace=True) 
dadosTratados[var].replace(to_replace =['B'], 
                 value =1,inplace=True) 
dadosTratados[var].replace(to_replace =['C'], 
                 value =2,inplace=True)
dadosTratados[var].replace(to_replace =['D'], 
                 value =3,inplace=True)
dadosTratados[var].replace(to_replace =['E'], 
                 value =4,inplace=True)

dadosTratados["anosEstudoPai"] = dadosTratados['Q001']
var = "anosEstudoPai"

dadosTratados[var].replace(to_replace =['A','H'], 
                 value =0,inplace=True) 
dadosTratados[var].replace(to_replace =['B'], 
                 value =4,inplace=True) 
dadosTratados[var].replace(to_replace =['C'], 
                 value =5,inplace=True)
dadosTratados[var].replace(to_replace =['D'], 
                 value =9,inplace=True)
dadosTratados[var].replace(to_replace =['E'], 
                 value =12,inplace=True)
dadosTratados[var].replace(to_replace =['F'], 
                 value =16,inplace=True) 
dadosTratados[var].replace(to_replace =['G'], 
                 value =18,inplace=True) 
var = 'Q001'
#dadosTratados[var].replace(to_replace =['A'], 
#                 value ='NaoEstudou',inplace=True) 
dadosTratados[var].replace(to_replace =['A','B','C'], 
                 value ='FundamentalIncompleto',inplace=True) 
dadosTratados[var].replace(to_replace =['D'], 
                 value ='FundamentalCompleto',inplace=True)
dadosTratados[var].replace(to_replace =['E'], 
                 value ='Medio',inplace=True)
dadosTratados[var].replace(to_replace =['F', 'G'], 
                 value ='Superior',inplace=True)
dadosTratados[var].replace(to_replace =['H'], 
                 value ='NaoSabe',inplace=True)

var = 'Q002'
#Ensino Fundamental
#dadosTratados[var].replace(to_replace =['B','C','D'], 
#                 value =1,inplace=True) 
#Ensino Médio
#dadosTratados[var].replace(to_replace =['E'], 
#                 value =2,inplace=True) 
#Ensino Superior, Pós Graduação
#dadosTratados[var].replace(to_replace =['F','G'], 
#                 value =3,inplace=True)
#Não sabe, Não estudou
#dadosTratados[var].replace(to_replace =['A','H'], 
#                 value =0,inplace=True)


dadosTratados["anosEstudoMae"] = dadosTratados['Q002']

var = "anosEstudoMae"

dadosTratados[var].replace(to_replace =['A','H'], 
                 value =0,inplace=True) 
dadosTratados[var].replace(to_replace =['B'], 
                 value =4,inplace=True) 
dadosTratados[var].replace(to_replace =['C'], 
                 value =5,inplace=True)
dadosTratados[var].replace(to_replace =['D'], 
                 value =9,inplace=True)
dadosTratados[var].replace(to_replace =['E'], 
                 value =12,inplace=True)
dadosTratados[var].replace(to_replace =['F'], 
                 value =16,inplace=True) 
dadosTratados[var].replace(to_replace =['G'], 
                 value =18,inplace=True) 

var = 'Q002'
#dadosTratados[var].replace(to_replace =['A'], 
#                 value ='NaoEstudou',inplace=True) 
dadosTratados[var].replace(to_replace =['A','B','C'], 
                 value ='FundamentalIncompleto',inplace=True) 
dadosTratados[var].replace(to_replace =['D'], 
                 value ='FundamentalCompleto',inplace=True)
dadosTratados[var].replace(to_replace =['E'], 
                 value ='Medio',inplace=True)
dadosTratados[var].replace(to_replace =['F', 'G'], 
                 value ='Superior',inplace=True)
dadosTratados[var].replace(to_replace =['H'], 
                 value ='NaoSabe',inplace=True)

#MediaAnosDeEstudo = dadosTratados[dadosTratados.Q002 != 'H'].Q002.mean()


var = 'Q003'
dadosTratados[var].replace(to_replace =['A','B','C'], 
                 value ="Grupo(A,B,C)",inplace=True) 
dadosTratados[var].replace(to_replace =['D','E'], 
                 value ="Grupo(D,E)",inplace=True) 
dadosTratados[var].replace(to_replace =['F'], 
                 value ="NãoSabe",inplace=True)


var = 'Q004'
dadosTratados[var].replace(to_replace =['A','B','C'], 
                 value ="Grupo(A,B,C)",inplace=True) 
dadosTratados[var].replace(to_replace =['D','E'], 
                 value ="Grupo(D,E)",inplace=True) 
dadosTratados[var].replace(to_replace =['F'], 
                 value ="NãoSabe",inplace=True)

#var = 'TP_SEXO'
#dadosTratados[var].replace(to_replace =['F'],value =1,inplace=True) 
#dadosTratados[var].replace(to_replace =['M'],value =0,inplace=True) 

var = 'TP_COR_RACA'
dadosTratados[var].replace(to_replace =[0],value ='NaoDeclarado',inplace=True) 
dadosTratados[var].replace(to_replace =[1],value ='Branco',inplace=True) 
dadosTratados[var].replace(to_replace =[2],value ='Preta',inplace=True) 
dadosTratados[var].replace(to_replace =[3],value ='Parda',inplace=True) 
dadosTratados[var].replace(to_replace =[4],value ='Amarelo',inplace=True) 
dadosTratados[var].replace(to_replace =[5],value ='Indigena',inplace=True) 


var = 'TP_LOCALIZACAO_ESC'
dadosTratados[var].replace(to_replace =[2],value ='Rural',inplace=True) 
dadosTratados[var].replace(to_replace =[1],value ='Urbano',inplace=True)

In [30]:
var = 'TP_COR_RACA'
dadosTratados['COR_RACA'] = dadosTratados['TP_COR_RACA']
dadosTratados['COR_RACA'].replace(to_replace =['Parda','Preta','Amarelo','Indigena'],value ='NaoBranco',inplace=True)

In [31]:
#Adicionando nova coluna quarto por pessoas e removendo as correspondentes 
pessoas = 'Q005' 
quartos = 'Q009'


dadosTratados[quartos].replace(to_replace =[0], 
                 value =1,inplace=True) 

dadosTratados['RazaoPessoasQuarto'] = (dadosTratados[pessoas]/dadosTratados[quartos])

precision = 2 

dadosTratados['RazaoPessoasQuarto'] = dadosTratados['RazaoPessoasQuarto'].round(decimals = precision)

# dadosTratados.drop([pessoas], axis=1, inplace=True) 
# dadosTratados.drop([quartos], axis=1, inplace=True)

bins = [0,1,2,3,4,20]
dadosTratados['PessoasPorQuarto'] = pd.cut(dadosTratados['RazaoPessoasQuarto'],bins)

In [32]:
#Não pegando notas que por algum motivo tem valor zero
dadosTratados = dadosTratados.query("NU_NOTA_CN != 0 and NU_NOTA_CH != 0 and NU_NOTA_LC != 0 and NU_NOTA_MT != 0 and NU_NOTA_REDACAO != 0")

In [35]:
dadosTratados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 879700 entries, 0 to 1147411
Data columns (total 48 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   NU_INSCRICAO            879700 non-null  int64
 1   Q001                    879700 non-null  object
 2   Q002                    879700 non-null  object
 3   Q003                    879700 non-null  object
 4   Q004                    879700 non-null  object
 5   Q005                    879700 non-null  int64
 6   Q007                    879700 non-null  object
 7   Q008                    879700 non-null  object
 8   Q009                    879700 non-null  int64
 9   Q010                    879700 non-null  object
 10  Q011                    879700 non-null  object
 11  Q012                    879700 non-null  object
 12  Q013                    879700 non-null  object
 13  Q014                    879700 non-null  object
 14  Q015                    879700 non-null  object
 15  Q016                    879700 non-null  object
 16  Q017                    879700 non-null  object
 17  Q018                    879700 non-null  object
 18  Q019                    879700 non-null  object
 19  Q020                    879700 non-null  object
 20  Q021                    879700 non-null  object
 21  Q022                    879700 non-null  object
 22  Q023                    879700 non-null  object
 23  Q024                    879700 non-null  object
 24  Q025                    879700 non-null  object
 25  NU_IDADE                879700 non-null  int64
 26  TP_SEXO                 879700 non-null  object
 27  TP_COR_RACA             879700 non-null  object
 28  CO_ESCOLA               879700 non-null  float64
 29  CO_MUNICIPIO_ESC        879700 non-null  float64
 30  NO_MUNICIPIO_ESC        879700 non-null  object
 31  SG_UF_ESC               879700 non-null  object
 32  TP_DEPENDENCIA_ADM_ESC  879700 non-null  object
 33  TP_LOCALIZACAO_ESC      879700 non-null  object
 34  CO_UF_ESC               879700 non-null  float64
 35  NU_NOTA_CN              879700 non-null  float64
 36  NU_NOTA_CH              879700 non-null  float64
 37  NU_NOTA_LC              879700 non-null  float64
 38  NU_NOTA_MT              879700 non-null  float64
 39  TP_LINGUA               879700 non-null  int64
 40  NU_NOTA_REDACAO         879700 non-null  float64
 41  RendaMaxima             879700 non-null  int64
 42  ClasseSocial            879700 non-null  object
 43  anosEstudoPai           879700 non-null  int64
 44  anosEstudoMae           879700 non-null  int64
 45  COR_RACA                879700 non-null  object
 46  RazaoPessoasQuarto      879700 non-null  float64
 47  PessoasPorQuarto        879700 non-null  category
dtypes: category(1), float64(9), int64(8), object(30)
memory usage: 323.0+ MB

In [36]:
col = dadosTratados[['NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT','NU_NOTA_REDACAO','NU_NOTA_CN']]
dadosTratados['NU_MEDIA'] = col.mean(axis=1)

In [ ]:
dadosTratados['TP_LINGUA'].replace(0, "Inglês", inplace=True)
dadosTratados['TP_LINGUA'].replace(1, "Espanhol", inplace=True)
dadosTratados.rename(columns={"Q024" : "Tem Computador"}, inplace=True)
dadosTratados.rename(columns={"Q022" : "Tem Celular"}, inplace=True)
dadosTratados.rename(columns={"Q025" : "Tem Internet"}, inplace=True)
dadosTratados.rename(columns={"Q001" : "Estudo Pai"}, inplace=True)
dadosTratados.rename(columns={"Q002" : "Estudo Mãe"}, inplace=True)
dadosTratados.rename(columns={"Q003" : "Trabalho Pai"}, inplace=True)
dadosTratados.rename(columns={"Q004" : "Trabalho Mãe"}, inplace=True)
dadosTratados.rename(columns={"Q005" : "Pessoas Residencia"}, inplace=True)
dadosTratados.rename(columns={"Q007" : "Tem Empregada"}, inplace=True)
dadosTratados.rename(columns={"Q008" : "Tem Empregada"}, inplace=True)

In [18]:


# #calculado usando w = (maiorV alor − menorV alor)/4
# max = dadosEnem['NU_MEDIA'].max() 
# min = dadosEnem['NU_MEDIA'].min() 
# w = (max-min)/4

# print(w)



# bins = [0,438.65,576.04,713.43,1000]
# dadosEnem['MEDIA_FAIXA'] = pd.cut(dadosEnem['NU_MEDIA'],bins,right = True)
# dadosEnem['MEDIA_FAIXA'].value_counts()

In [37]:
notas = dadosTratados[['NU_NOTA_MT','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_CN','NU_NOTA_REDACAO']]
notas.to_csv('Brasil/notasParaClusterizaca2019.csv',encoding='latin1', index=False,sep=';')

In [38]:
dadosTratados.to_csv('Brasil/MicrodadosBrasilTratado2019.csv',encoding='latin1', index=False,sep=';')